<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@shopify/polaris@4.25.0/styles.min.css"
      />
  </head>
  <body>
    <h2>Products</h2>

    <ul>
      <% @products.each do |product| %>
        <li><%= link_to product.title, "https://#{@current_shopify_session.domain}/admin/products/#{product.id}", target: "_top" %></li>
      <% end %>
    </ul>

    <hr>

    <h2>Webhooks</h2>

    <ul>
      <% @present_webhooks = [] %>
      <% @webhooks.each do |webhook| %>
        <% @present_webhooks << webhook.topic %>
        <li><%= webhook.topic %> : <%= webhook.address %>
          <%= button_to 'unsubscribe',
                        controller: 'home',
                        action: :destroy_webhook,
                        webhook_id: webhook.id
          %>
        </li>
      <% end %>
    </ul>
    <ul>
      <% WebhooksDataHelper::WEBHOOKS_DATA.each do |data| %>
        <% unless @present_webhooks.include?(data[:topic]) %>
          <li><%= data[:topic] %> : <%= data[:address] %>
            <%= button_to 'subscribe',
                          controller: 'home',
                          action: :create_webhook,
                          topic: data[:topic],
                          address: data[:address]
            %>
          </li>
        <% end %>
      <% end %>
    </ul>
  </body>
</html>
